[Interface]
Address = {{ interface.address }}
PrivateKey = {{ interface.private_key }}
DNS = {{ interface.dns }}

[Peer]
PublicKey = {{ peer.public_key }}
Endpoint = {{ peer.endpoint }}
AllowedIPs = {{ peer.allowed_ips }}
PersistentKeepalive = {{ peer.persistent_keepalive }}
